# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html
inst/doc
man/
NAMESPACE

# All data files should be dowladed by the user from the cloud and are not provided ----
/data/

# All figures should be recreated by running the code----
/figures/


# All outputs should be recreated by running the code ----
/outputs/
*.html
*.csv
*.zip
*.log
*.png
*.pdf
01_presentation_baches_files/